h1 {
	text-align: center; 
	color: #f5ba1f; 
	font-family:Helvetica Neue sans-serif;"
}

.procena_rizika {
	text-align: center; 
	color: black; 
	font-family:Helvetica Neue sans-serif;"
	font-weight: 600;
	font-size: 25px;
	word-wrap: normal;
	padding: 20px 20px 50px;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	align-content: flex-start;
}